<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InnoNet</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <img id="logoIcon" src="~/images/logos/Logo 1.png" alt="Logo InnoNet">
        <img id="logoIcon" src="~/images/logos/InnoNet.png" alt="InnoNet">
        <nav id="leftbar">
            <ul>
                <li data-toggle="tooltip" data-placement="bottom" title="Home"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li data-toggle="tooltip" data-placement="bottom" title="About"><a asp-controller="Home" asp-action="About">About Us</a></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Clubs">
                    <div class="dropdown">
                        <a class="dropdown-toggle" asp-controller="Home" asp-action="Clubs" role="button" data-bs-toggle="dropdown">Clubs</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">A.I</a></li>
                            <li><a class="dropdown-item" href="#">Data Analysis</a></li>
                            <li><a class="dropdown-item" href="#">Game Development</a></li>
                            <li><a class="dropdown-item" href="#">Newfound Tech</a></li>
                            <li><a class="dropdown-item" href="#">Cybersecurity </a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </nav>
        <div id="searchBar" class="btn-group dropstart">
            <ul>
                <li><input type="text" id="searchQRY" placeholder="Search your club.."></li>
            </ul>
        </div>
        <nav id="rightbar">
            <ul>

                <li data-toggle="tooltip" data-placement="bottom" title="Settings">
                    <div class="dropdown">
                        <button type="button" class="btn position-relative dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img id="pfpIcon" src="~/images/images/settingsicon.png" alt="settingsicon">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Filler</a></li>
                            <li><a class="dropdown-item" href="#">Filler</a></li>
                            <li><a class="dropdown-item" href="#">Filler</a></li>
                            <li><a class="dropdown-item" href="#">Filler</a></li>
                            <li><a class="dropdown-item" href="#">Filler</a></li>
                        </ul>
                    </div>
                </li>
                <li data-toggle="tooltip" data-placement="bottom" title="Notifications">
                    <a href="#">
                        <button type="button" class="btn position-relative">
                            <img id="pfpIcon" src="~/images/images/notifbell.png" alt="notifbell">
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                                +6
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </a>

                </li>
                <li data-toggle="tooltip" data-placement="bottom" title="Login">
                    <div class="dropdown">
                        <button type="button" class="btn position-relative" data-bs-toggle="dropdown" aria-expanded="false">
                            <img id="pfpIcon" src="~/images/images/usericon1.png" alt="usericon1">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="profile.html" disabled>Profile</a></li>
                            <li><a class="dropdown-item" href="login.html">Login</a></li>
                        </ul>
                    </div>

                </li>
            </ul>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2023 - InnoNet</p>
        </footer>
    </div>


        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
