<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/useredit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" /> *@ 
    <link rel="stylesheet " href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carme&family=Montserrat&family=Noto+Sans+JP:wght@700;900&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/js/globaljss.js"></script>
    <link rel="icon" type="image/x-icon" href="../logos/Logo 1.png">
</head>
<body>
    <header>
        <div class="content-container">
            <header>
                <img id="logoIcon" src="~/images/logos/Logo 1.png" alt="Logo InnoNet">
                <img id="logoIcon" src="~/images/logos/InnoNet.png" alt="InnoNet">
                <nav id="leftbar">
                    <ul>
                        <li data-toggle="tooltip" data-placement="bottom" title="Home"><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="About"><a asp-action="About" asp-controller="Home">About Us</a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Clubs"><a asp-action="Index" asp-controller="Forum">All Categories</a></li>
                    </ul>
                </nav>
                <div id="searchBar" class="btn-group dropstart">
                    <!--magugulo layout pagka tinanggal to-->
                </div>
                <nav id="rightbar">
                    <partial name="_LoginPartial" />
                </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div>
            &copy; 2023 - InnoNet Group 6 <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
