@using InnoNet.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

<ul class="d-inline-flex align-middle">
    @if (_signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" title="Manage">Hello, @_userManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="pfpIcon" src="~/images/icons/settingsicon.png" alt="settingsicon" style="max-height: 25px; max-width: 25px">
                </a>
                <ul class="dropdown-menu rounded-3 mt-2" aria-labelledby="dropdownMenuLink">
                    <li>
                        <a class="dropdown-item rounded-3" asp-controller="Profile" asp-action="Detail" asp-route-id="@_userManager.GetUserId(User)">My Profile</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a class="dropdown-item" asp-controller="Profile" asp-action="Index">View Users</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button type="submit" class="nav-link btn btn-link text-light fs-5">
                    <strong>Logout</strong>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
